{% extends "base.html" %}

{% block main %}
    <h1>Contact</h1>
    <p>Leave your name, email and a message and i'll get back to you.</p>
    <form method="post" action="{{ url_for('contact') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{form.firstname.label }} {{ form.firstname }}
        </div>
        <div class="form-group">
            {{ form.lastname.label  }} {{ form.lastname }}
        </div>

        <div class="form-group">
            {{ form.email.label }} {{ form.email }}
        </div>

        <div class="form-group">
            {{form.subject.label }} {{ form.subject }}
        </div>

        <div class="form-group" id="t-area">
            {{ form.txtarea.label }} {{ form.txtarea }}
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
